html,
body {
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.login__app {
    width: 100vw;
    height: 100vh;
    background-image: url('../img/bg-login.jpg');
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login__main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #7476dcd4;
    width: 440px;
    height: 277px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.login__header {
    margin: 0;
    color: white;
    font-size: 34px;
    margin-bottom: 20px;
}

.login__form {}

.login__input {
    position: relative;
    background: white;
    width: 300px;
    height: 34px;
    border: none;
    border-radius: 8px;
    overflow: hidden;
    margin-bottom: 20px;
}

.login__lable {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    left: 5px;
    font-weight: 600;
    font-size: 14px;
    color: #8182b4;
}

.login__field {
    height: 30px;
    width: 212px;
    left: 81px;
    border: none;
    position: absolute;
    z-index: 2;
    outline: none;
    font-size: 14px;
}

.login__button {
    background-color: #578592;
    color: white;
    outline: none;
    border: none;
    height: 36px;
    width: 83px;
    font-size: 17px;
    border-radius: 3px;
    margin: 2px auto;
    display: block;
    font-weight: 600;
}