.room_list--text
{
	    color: #73879c;
    font-size: 14px;
}
.cus_select
{
	    width: 160px;
}
.cus_input
{
	    width: 160px;
}
.cus_btn--primary
{
	
}
.room_status--text
{
	
}
.room__label
{
	font-weight: 600;
	font-size: 14px;
}