/* scroll  */
::-webkit-scrollbar {
	width: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: #888;
}

/* end scroll  */
html, body {
	font-family: "Poppins", sans-serif;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.app {
	display: flex;
	overflow-x: hidden;
}

.cus_navbar {
	background-color: #2a3f54;
	width: 260px;
	color: white;
	min-height: 100vh;
	position: fixed;
}


.cus_header h1 {
	font-size: 22px;
	font-weight: 400;
	text-align: center;
	margin-bottom: 0px;
}

.cus_header p {
	text-align: center;
	font-size: 14px;
	color: #5c7e7e;
}

.navbar__hello {
	font-size: 15px;
	color: #bab8ae;
	margin-left: 18px;
}


.navbar__func-item {
	display: flex;
	align-items: center;
	position: relative;
	padding-left: 18px;
	cursor: pointer;
	text-decoration: none;
	color: white;
}

.navbar__func-item.active {
	background-color: #35495d;
	position: relative;
}

.navbar__func-item:hover {
	background-color: #35495d;
}

.navbar__func-item i {
	font-size: 28px;
}

.navbar__func-item.active::after {
	content: "";
	display: block;
	position: absolute;
	top: 0;
	right: 0;
	width: 8px;
	height: 100%;
	background-color: #1abb9c;
}

.navbar__func-item>p {
	font-size: 14px;
	margin: 14px 20px;
}
 
.footer {
	position: absolute;
	bottom: 0;
	display: flex;
	justify-content: space-evenly;
	width: 100%;
	left: 0;
	background-color: #172d44;
	color: #3e738e;
}

.footer__item {
	font-size: 20px;
	cursor: pointer;
}

.main {
	width: 100%;
	display: flex;
}

.pseudo {
	display: block;
	padding-left: 260px;
}

.content {
	width: 100%;
}

/* box  */
.content__header i {
	font-size: 46px;
	color: #5a738e;
}


.box {
	width: 86%;
	border: 1px solid #bbc0c7d1;
	overflow: hidden;
	margin: 0 auto;
	height: 336px;
}

.box__title {
	color: #73879c;
	font-weight: 600;
	text-align: center;
	border-bottom: 1px solid #bbc0c7d1;
	margin: 0;
	padding: 4px;
	z-index: 2;
}

.box__main {
	position: relative;
	height: 100%;
}

#piechart {
	position: absolute;
	top: -38px;
	z-index: -1;
	font-size: 16px;
	font-weight: 400;
}

/* end box  */

/* table empty room  */
.rounded_table {
	overflow-y: scroll;
	height: 86%;
}

#customers {
	border-collapse: collapse;
	width: 100%;
	text-align: center;
}

hr {
	margin-bottom: 28px;
}

#customers td, #customers th {
	border: 1px solid #ddd;
	padding: 8px;
	text-align: center;
}

#customers tr:nth-child(even) {
	background-color: #f2f2f2;
}

#customers tr:hover {
	background-color: #ddd;
}

#customers th {
	padding-top: 12px;
	padding-bottom: 12px;
	text-align: center;
	background-color: #04AA6D;
	color: white;
}

/* end table empty room */